# macOS
.DS_Store
.AppleDouble
.LSOverride
._*

# Xcode
*.xcuserstate
*.moved-aside
DerivedData/
*.hmap
*.ipa
*.dSYM.zip
*.dSYM
xcuserdata/

# Supabase
supabase/.branches
supabase/.temp
supabase/functions/**/.env

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment files
.env
.env.local
.env.*.local

# Editor
.idea/
.vscode/
*.swp
*.swo
build/
